In [1]:
import numpy as np
import pandas as pd
df=pd.read_csv('lab2data_1.csv')
df

,Record ID,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,...,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,Condition,Unnamed: 31
0,840801013.0,29.0,F,f,f,f,f,f,f,f,...,?,f,?,f,?,f,?,other,NO CONDITION,NaN
1,840801014.0,29.0,F,f,f,f,f,f,f,f,...,128,f,?,f,?,f,?,other,NO CONDITION,NaN
2,840801042.0,41.0,F,f,f,f,f,f,f,f,...,?,f,?,f,?,t,11,other,NO CONDITION,NaN
3,840803046.0,36.0,F,f,f,f,f,f,f,f,...,?,f,?,f,?,t,26,other,NO CONDITION,NaN
4,840803047.0,32.0,F,f,f,f,f,f,f,f,...,?,f,?,f,?,t,36,other,S,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,841031010.0,41.0,F,f,f,f,f,f,f,f,...,9.7,t,1.46,t,6.6,f,?,other,F,NaN
997,841031030.0,20.0,F,f,f,f,f,t,f,f,...,?,f,?,f,?,t,30,other,NO CONDITION,NaN
998,841031031.0,20.0,F,f,f,f,f,f,f,f,...,201,t,0.84,t,240,f,?,SVI,AK,NaN
999,841031032.0,73.0,F,f,f,f,f,f,f,f,...,85,t,0.9,t,94,f,?,SVI,NO CONDITION,NaN
1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
print(df.columns)

Index(['Record ID', 'age', 'sex', 'on thyroxine', 'query on thyroxine',
       'on antithyroid medication', 'sick', 'pregnant', 'thyroid surgery',
       'I131 treatment', 'query hypothyroid', 'query hyperthyroid', 'lithium',
       'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH measured', 'TSH',
       'T3 measured', 'T3', 'TT4 measured', 'TT4', 'T4U measured', 'T4U',
       'FTI measured', 'FTI', 'TBG measured', 'TBG', 'referral source',
       'Condition', 'Unnamed: 31'],
      dtype='object')

In [3]:
df=df.drop("Unnamed: 31",axis=1)
df

,Record ID,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,Condition
0,840801013.0,29.0,F,f,f,f,f,f,f,f,...,f,?,f,?,f,?,f,?,other,NO CONDITION
1,840801014.0,29.0,F,f,f,f,f,f,f,f,...,t,128,f,?,f,?,f,?,other,NO CONDITION
2,840801042.0,41.0,F,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,11,other,NO CONDITION
3,840803046.0,36.0,F,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,26,other,NO CONDITION
4,840803047.0,32.0,F,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,36,other,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,841031010.0,41.0,F,f,f,f,f,f,f,f,...,t,9.7,t,1.46,t,6.6,f,?,other,F
997,841031030.0,20.0,F,f,f,f,f,t,f,f,...,f,?,f,?,f,?,t,30,other,NO CONDITION
998,841031031.0,20.0,F,f,f,f,f,f,f,f,...,t,201,t,0.84,t,240,f,?,SVI,AK
999,841031032.0,73.0,F,f,f,f,f,f,f,f,...,t,85,t,0.9,t,94,f,?,SVI,NO CONDITION
1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.dropna()

,Record ID,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,Condition
0,840801013.0,29.0,F,f,f,f,f,f,f,f,...,f,?,f,?,f,?,f,?,other,NO CONDITION
1,840801014.0,29.0,F,f,f,f,f,f,f,f,...,t,128,f,?,f,?,f,?,other,NO CONDITION
2,840801042.0,41.0,F,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,11,other,NO CONDITION
3,840803046.0,36.0,F,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,26,other,NO CONDITION
4,840803047.0,32.0,F,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,36,other,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,841031002.0,41.0,F,f,f,f,f,f,f,f,...,t,148,t,1.44,t,103,f,?,STMW,NO CONDITION
996,841031010.0,41.0,F,f,f,f,f,f,f,f,...,t,9.7,t,1.46,t,6.6,f,?,other,F
997,841031030.0,20.0,F,f,f,f,f,t,f,f,...,f,?,f,?,f,?,t,30,other,NO CONDITION
998,841031031.0,20.0,F,f,f,f,f,f,f,f,...,t,201,t,0.84,t,240,f,?,SVI,AK
999,841031032.0,73.0,F,f,f,f,f,f,f,f,...,t,85,t,0.9,t,94,f,?,SVI,NO CONDITION

In [5]:
df=df.replace('?','')
df

,Record ID,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,Condition
0,840801013.0,29.0,F,f,f,f,f,f,f,f,...,f,,f,,f,,f,,other,NO CONDITION
1,840801014.0,29.0,F,f,f,f,f,f,f,f,...,t,128,f,,f,,f,,other,NO CONDITION
2,840801042.0,41.0,F,f,f,f,f,f,f,f,...,f,,f,,f,,t,11,other,NO CONDITION
3,840803046.0,36.0,F,f,f,f,f,f,f,f,...,f,,f,,f,,t,26,other,NO CONDITION
4,840803047.0,32.0,F,f,f,f,f,f,f,f,...,f,,f,,f,,t,36,other,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,841031010.0,41.0,F,f,f,f,f,f,f,f,...,t,9.7,t,1.46,t,6.6,f,,other,F
997,841031030.0,20.0,F,f,f,f,f,t,f,f,...,f,,f,,f,,t,30,other,NO CONDITION
998,841031031.0,20.0,F,f,f,f,f,f,f,f,...,t,201,t,0.84,t,240,f,,SVI,AK
999,841031032.0,73.0,F,f,f,f,f,f,f,f,...,t,85,t,0.9,t,94,f,,SVI,NO CONDITION
1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df['TSH']=pd.to_numeric(df['TSH'],errors='coerce')
TSH_mean=df['TSH'].mean()
print(TSH_mean)

6.5596384079096035

In [7]:
df['T3']=pd.to_numeric(df['T3'],errors='coerce')
T3_mean=df['T3'].mean()
print(T3_mean)

1.8222431065162907

In [8]:
df['TT4']=pd.to_numeric(df['TT4'],errors='coerce')
TT4_mean=df['TT4'].mean()
print(TT4_mean)

106.44770833333334

In [9]:
df['T4U']=pd.to_numeric(df['T4U'],errors='coerce')
T4U_mean=df['T4U'].mean()
print(T4U_mean)

0.972039911308204

In [10]:
df['FTI']=pd.to_numeric(df['FTI'],errors='coerce')
FTI_mean=df['FTI'].mean()
print(FTI_mean)

114.60088691796008

In [11]:
df['TBG']=pd.to_numeric(df['TBG'],errors='coerce')
TBG_mean=df['TBG'].mean()
print(TBG_mean)

26.23055552777778

In [12]:
df.dtypes

Record ID                    float64
age                          float64
sex                           object
on thyroxine                  object
query on thyroxine            object
on antithyroid medication     object
sick                          object
pregnant                      object
thyroid surgery               object
I131 treatment                object
query hypothyroid             object
query hyperthyroid            object
lithium                       object
goitre                        object
tumor                         object
hypopituitary                 object
psych                         object
TSH measured                  object
TSH                          float64
T3 measured                   object
T3                           float64
TT4 measured                  object
TT4                          float64
T4U measured                  object
T4U                          float64
FTI measured                  object
FTI                          float64
TBG measured                  object
TBG                          float64
referral source               object
Condition                     object
dtype: object

In [13]:
df['TSH'].fillna(TSH_mean,inplace=True)
df['T3'].fillna(T3_mean,inplace=True)
df['TT4'].fillna(TT4_mean,inplace=True)
df['T4U'].fillna(T4U_mean,inplace=True)
df['FTI'].fillna(FTI_mean,inplace=True)
df['TBG'].fillna(TBG_mean,inplace=True)

In [14]:
df

,Record ID,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,Condition
0,840801013.0,29.0,F,f,f,f,f,f,f,f,...,f,106.447708,f,0.97204,f,114.600887,f,26.230556,other,NO CONDITION
1,840801014.0,29.0,F,f,f,f,f,f,f,f,...,t,128.000000,f,0.97204,f,114.600887,f,26.230556,other,NO CONDITION
2,840801042.0,41.0,F,f,f,f,f,f,f,f,...,f,106.447708,f,0.97204,f,114.600887,t,11.000000,other,NO CONDITION
3,840803046.0,36.0,F,f,f,f,f,f,f,f,...,f,106.447708,f,0.97204,f,114.600887,t,26.000000,other,NO CONDITION
4,840803047.0,32.0,F,f,f,f,f,f,f,f,...,f,106.447708,f,0.97204,f,114.600887,t,36.000000,other,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,841031010.0,41.0,F,f,f,f,f,f,f,f,...,t,9.700000,t,1.46000,t,6.600000,f,26.230556,other,F
997,841031030.0,20.0,F,f,f,f,f,t,f,f,...,f,106.447708,f,0.97204,f,114.600887,t,30.000000,other,NO CONDITION
998,841031031.0,20.0,F,f,f,f,f,f,f,f,...,t,201.000000,t,0.84000,t,240.000000,f,26.230556,SVI,AK
999,841031032.0,73.0,F,f,f,f,f,f,f,f,...,t,85.000000,t,0.90000,t,94.000000,f,26.230556,SVI,NO CONDITION
1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,106.447708,NaN,0.97204,NaN,114.600887,NaN,26.230556,NaN,NaN

In [15]:
mean_TSH=df['TSH'].mean()
print("mean of TSH is",mean_TSH)
mean_T3=df['T3'].mean()
print("mean of T3 is",mean_T3)
mean_TT4=df['TT4'].mean()
print("mean of TT4 is",mean_TT4)
mean_T4U=df['T4U'].mean()
print("mean of T4U is",mean_T4U)
mean_FTI=df['FTI'].mean()
print("mean of FTI is",mean_FTI)
mean_TBG=df['TBG'].mean()
print("mean of TBG is",mean_TBG)

mean of TSH is 6.5596384079096035
mean of T3 is 1.8222431065162907
mean of TT4 is 106.44770833333332
mean of T4U is 0.972039911308204
mean of FTI is 114.6008869179601
mean of TBG is 26.23055552777777

In [16]:
var_TSH=df['TSH'].var()
print("variance of TSH is",var_TSH)
var_T3=df['T3'].var()
print("variance of T3 is",var_T3)
var_TT4=df['TT4'].var()
print("variance of TT4 is",var_TT4)
var_T4U=df['T4U'].var()
print("variance of T4U is",var_T4U)
var_FTI=df['FTI'].var()
print("variance of FTI is",var_FTI)
var_TBG=df['TBG'].var()
print("variance of TBG is",var_TBG)

variance of TSH is 764.9659985963691
variance of T3 is 0.5182576712815796
variance of TT4 is 1667.8250949583335
variance of T4U is 0.0385940465631929
variance of FTI is 3453.843439290466
variance of TBG is 2.2819764227500006

In [24]:
import pandas as pd
cols_to_encode=['sex', 'on thyroxine', 'query on thyroxine', 'on antithyroid medication', 'sick', 'pregnant', 'thyroid surgery', 'I131 treatment', 'query hypothyroid', 'query hyperthyroid', 'lithium', 'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH measured', 'T3 measured', 'TT4 measured', 'T4U measured', 'FTI measured', 'TBG measured', 'referral source', 'Condition']
df=pd.get_dummies(df,columns=cols_to_encode)
df=df.drop(cols_to_encode)
print(df.head())

KeyError: "['sex', 'on thyroxine', 'query on thyroxine', 'on antithyroid medication', 'sick', 'pregnant', 'thyroid surgery', 'I131 treatment', 'query hypothyroid', 'query hyperthyroid', 'lithium', 'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH measured', 'T3 measured', 'TT4 measured', 'T4U measured', 'FTI measured', 'TBG measured', 'referral source', 'Condition'] not found in axis"

In [20]:
df

,Record ID,age,TSH,T3,TT4,T4U,FTI,TBG,sex_,sex_F,...,Condition_M,Condition_MI,Condition_MK,Condition_N,Condition_NO CONDITION,Condition_O,Condition_P,Condition_Q,Condition_R,Condition_S
0,840801013.0,29.0,0.300000,1.822243,106.447708,0.97204,114.600887,26.230556,0,1,...,0,0,0,0,1,0,0,0,0,0
1,840801014.0,29.0,1.600000,1.900000,128.000000,0.97204,114.600887,26.230556,0,1,...,0,0,0,0,1,0,0,0,0,0
2,840801042.0,41.0,6.559638,1.822243,106.447708,0.97204,114.600887,11.000000,0,1,...,0,0,0,0,1,0,0,0,0,0
3,840803046.0,36.0,6.559638,1.822243,106.447708,0.97204,114.600887,26.000000,0,1,...,0,0,0,0,1,0,0,0,0,0
4,840803047.0,32.0,6.559638,1.822243,106.447708,0.97204,114.600887,36.000000,0,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,841031010.0,41.0,53.000000,0.400000,9.700000,1.46000,6.600000,26.230556,0,1,...,0,0,0,0,0,0,0,0,0,0
997,841031030.0,20.0,6.559638,1.822243,106.447708,0.97204,114.600887,30.000000,0,1,...,0,0,0,0,1,0,0,0,0,0
998,841031031.0,20.0,0.100000,0.800000,201.000000,0.84000,240.000000,26.230556,0,1,...,0,0,0,0,0,0,0,0,0,0
999,841031032.0,73.0,3.300000,1.200000,85.000000,0.90000,94.000000,26.230556,0,1,...,0,0,0,0,1,0,0,0,0,0
1000,NaN,NaN,6.559638,1.822243,106.447708,0.97204,114.600887,26.230556,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
print("Range of TSH is :",max(df['TSH'])-min(df['TSH']))

TypeError: '>' not supported between instances of 'float' and 'str'